<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.softbank.trackproject.repository.mybatis.RecipeRepositoryMapper">
  <insert id="insert" parameterType="jp.co.softbank.trackproject.model.Recipe">
    INSERT INTO recipes (title, making_time, serves, ingredients, cost, created_at, updated_at)
    VALUES (#{title}, #{makingTime}, #{serves}, #{ingredients}, #{cost}, NOW(), NOW())
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      SELECT currval('recipes_id_seq') 
    </selectKey>
  </insert>
  
  <select id="selectById" resultType="jp.co.softbank.trackproject.model.Recipe" parameterType="integer">
    SELECT title, making_time AS makingTime, serves, ingredients, cost
    FROM recipes
    WHERE id = #{id}
  </select>
  
  <select id="selectAll" resultType="jp.co.softbank.trackproject.model.Recipe">
    SELECT id, title, making_time AS makingTime, serves, ingredients, cost
    FROM recipes
  </select>
  
  <update id="updateById">
    UPDATE recipes
      SET title = #{recipe.title},
        making_time = #{recipe.makingTime},
        serves = #{recipe.serves},
        ingredients = #{recipe.ingredients},
        cost = #{recipe.cost},
        updated_at = NOW()
      WHERE id = #{id}
  </update>
  
  <delete id="deleteById" parameterType="integer">
    DELETE FROM recipes
    WHERE id = #{id}
  </delete>
</mapper>
